black
isort
matplotlib
optuna
pandas
plotly
pytorch-adapt==0.0.42
pytorch-ignite
pytorch-metric-learning
PyYAML
record-keeper
scikit-learn
scipy
submitit
tensorboard
timm
torchmetrics
tqdm

--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.10.1+cu113
torchvision==0.11.2+cu113
