article a:link, article a:visited{
	font-weight: 600;
}

/*article a:link, article a:visited {
    color: #34baeb;
}*/

/*.md-sidebar--primary a:link, .md-sidebar--primary a:visited {
    color: #e00707;
}

.md-sidebar--secondary a:link, .md-sidebar--secondary a:visited {
    color: #e00707;
}*/